.ctdn {
	--rev-color: white;
}
.ctdn span {
	font-size: 14px;
	margin-left: 2px;
}
.ctdn_meta {
	width: 1.236em;
	height: 2em;
	line-height: 2em;
	font-size: 22px;
	display: inline-block;
	margin-left: 5px;
}
.ctdn_back, .ctdn_flip {
	width: inherit;
	height: inherit;
	position: absolute;
}
.ctdn_back>div, .ctdn_flip>div {
	width: 100%;
	height: 1em;
	overflow: hidden;
	background-color: currentColor;
}
.ctdn_back>div>div, .ctdn_flip>div>div {
	color: var(--rev-color);
	text-align: center;
}
.ctdn_back {
	border-radius: .25em;
	overflow: hidden;
}
.ctdn_flip>div:first-child {
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
	transform-origin: 50% 100%;
	border-bottom: none;
}
.ctdn_flip>div:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transform-origin: 50% 0;
	transform: rotateX(-90deg);
	border-top: none;
}
@keyframes meta_flip_1 {
	0% {transform: rotateX(0deg);}
	50%, 100% {transform: rotateX(90deg); filter: brightness(.8);}
}
.flip_start>div:first-child {
	transform: rotateX(90deg);
	animation: meta_flip_1 .4s linear 1;
}
@keyframes meta_flip_2 {
	0%, 50% {transform: rotateX(-90deg);}
	100% {transform: rotateX(0deg);}
}
.flip_start>div:last-child {
	transform: rotateX(0deg);
	animation: meta_flip_2 .4s linear 1;
}

.ctdn_back>div:last-child>div, .ctdn_flip>div:last-child>div {
	margin-top: -1em;
}